@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "History Order";
}
<!-- ck title wrapper -->
<div class="ck_title_main_wrapper float_left">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="ck_title_cont float_left">
					<p>History Order</p>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="ck_title_cont float_left">
					<ul>
						<li>
							@Html.ActionLink("Home","Index","Product")&nbsp; > 
						</li>
						<li>History Order</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ck title wrapper End -->
<!--CheckOut Page-->
<div class="checkout-page">
	<div class="container">
		<!--Checkout Details-->
		<!--End Checkout Details-->
		<div class="btc_shop_single_prod_right_section related_pdt_shop_head checkout_heading">
			<h2><strong>History Order List </strong></h2>
		</div>

		<!--Order Box -- TODO: Repeat This -->
		<div class="order-box">
			<div class="btc_shop_single_prod_right_section related_pdt_shop_head checkout_heading">
				<h2>Order 1 </h2>
				<h1>Create on 24th May , 2022</h1>
			</div>
			<div class="title-box">
				<div class="col">PRODUCT</div>
				<div class="col">NUMBER</div>
				<div class="col">TOTAL</div>
				<div class="col">ACTIVATION CODE</div>
			</div>
			<ul>
				<li class="clearfix">
					<figure>
						<img src="images/e1.png" alt="" />
					</figure>
					<strong>
						Haagen-Dazs ice cream
					</strong>
					<span>X1</span>
					<span>A9798760</span>
					<span>$35,00</span>
					<span>&nbsp;</span>
					<span>&nbsp;</span>
					<span class="st_profile_input">
						<input placeholder="Input Your Comment..."/>
					</span>
					<span class="ck_elem_star">
						<a>Your Rating :</a>
					</span>
					<span class="ck_elem_star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</span>
					<span class="ck_offer_btn ck_offer_btn_inner float_left">
						<a href="#">Comment</a>
					</span>
					<span class="ck_offer_btn ck_offer_btn_inner float_left">
						<a href="#">Star</a>
					</span>
				</li>
				<li class="clearfix">
					<figure>
						<img src="images/e1.png" alt="" />
					</figure>
					<strong>
						Haagen-Dazs ice cream
					</strong>
					<span>X1</span>
					<span>A9798760</span>
					<span>$35,00</span>
					<span>&nbsp;</span>
					<span>&nbsp;</span>
					<span class="st_profile_input">
						<input placeholder="Input Your Comment..."/>
					</span>
					<span class="ck_elem_star">
						<a>Your Rating :</a>
					</span>
					<span class="ck_elem_star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</span>
					<span class="ck_offer_btn ck_offer_btn_inner float_left">
						<a href="#">Comment</a>
					</span>
					<span class="ck_offer_btn ck_offer_btn_inner float_left">
						<a href="#">Star</a>
					</span>
				</li>

				<li class="clearfix">
					TOTAL<span>$60.00</span>
				</li>
			</ul>
		</div>
		<!--End Order Box -- Repetition Ends Here -->
	</div>
</div>